body,.ss_btn {
	background:#ffffff;
}
.ss_copyright{
    background-color: #21242a;
}
.ss_two_sec,.ss_box_bg,.ss_box_wbg,.ss_price_circle,.ss_section_footer {
	box-shadow:none;
	background: linear-gradient(120deg, #37a971,#56ad59);
}
.ss_header .ss_menu li a:hover, .ss_subMenu li a:hover,.ss_product_content h2:hover,.ss_section_seven .ss_seven ul li i,a:hover,.ss_foot_news_one , .promo_code ,.ss_copyright p a,.ss_copyright p a:hover {
    color: #fc6c54;
}
.white_header .head_icon svg:hover,.ss_six_product a:hover, .ss_six_product a:hover svg,.social_share a:hover svg{
	fill:#fc6c54;
}
.ss_section_footer a:hover{
	color:#ffffff !important ;
}
 .white_btn:after, .ss_header .ss_menu li , .white_btn:hover,.ss_cart_list::-webkit-scrollbar-thumb, .table-responsive::-webkit-scrollbar-thumb,h3:before,.ss_foot_news_one, .promo_code .ss_btn,.ss_six_product li a, .social_share li a {
    background: transparent;
}
.ss_menu.ss_toggle ul::-webkit-scrollbar-thumb, .table-responsive::-webkit-scrollbar-thumb{
	background-color: #ffa331;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ss_eight h2 span a{
	color: white;
}
.ss_product_content h2::before{
	background-color: white;
}
.ss_product_content span{
	color: white;
}
.ss_product_content_invrtr{
    outline: solid 3px #ffffff;
    filter: drop-shadow(0px 0px  10px #38a971ac);
}
.ss_product_content_invrtr p{
    color: white;
    text-align: center;
}
.taggs{
    gap: 10px;
    margin: 30px 0px 0 0px;
}


.buttons {
    margin: 10%;
    text-align: center;
}
.text-center span{
    font-weight: bold;
    color: #f76b53;
}
.ss_section_six2{
    background-color: white;
}
.color-11{
    background-color: white !important;
    color: rgba(0, 0, 0, 0.753) !important;
}
.color-11:hover{
    background-color: rgb(238, 238, 238) !important;
}
.sec7{
    background-color: #ecf4f0;
}
.pb-10{
    padding-bottom: 20px;
}
.ss_section_five{
    background-color: #ecf4f0;
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-color: #81bd00;
    font-family: sf-light;
    color: #ffffff;
    /* background-image: linear-gradient(to right, #25e176, #40e495, #30dd8a, #2bb673); */
    /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
}





.ss_btn {
    border-color: #50c03d;
    background: linear-gradient(45deg,#63cb43,#95df64);
	color: whitesmoke;
	transition: all .4s ease-in-out;
}
.ss_btn:hover{
	transition: all .4s ease-in-out;
}
#button_ss{
	transition: all .4s ease-in-out;
}


.ss_cart_list a,.ss_cart_ico .ss_cart_total{
	color:#222222;
}
.ss_two_sec:after,.ss_footer_news {
    background: linear-gradient(150deg,#63cb43,#39aa70);
}
.ss_six_p_img.ss_box_bg:after{
	background: linear-gradient(150deg,#63cb43a7,#39aa7099);
}
h3:after,.ss_four_left .ss_box_bg:hover {
    border-color: #caf0b5;
}
.solar_wave {
    border: 0.5px solid rgb(101, 101, 101);
}
.ss_cart_btn .ss_btn {
    background: #ffffff;
}
h1, h2, h3, h4, h5, h6,a{
	color:#333333;
}
.ss_seven_price h1{   
	font-weight: bold;
}
.ss_product_content a{
	color: white;
	font-weight: bold;
}



@media screen and (max-width: 1299px){
.ss_menu > ul,.ss_menu.ss_toggle .ss_menu_bar:before {
	background: #ffffff;
}
.ss_header .ss_menu li a, .ss_menu li,.ss_menu li.show_subMenu .ss_subMenu li a,.ss_menu.ss_toggle .ss_menu_bar:after {
    color: #303040;
}
.ss_toggle .ss_menu_bar span{
	background:#303040;
}
}